{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="card" >
        <div class="container">
            <h2>{{user.username}}</h2>
            {% if user.avatar %}  
                <img src="{{ user.avatar.url }}" id="profile-picture" alt="User Avatar">
            {% else %}
            <img src="/media/default-avatar.png" id="profile-picture" alt="Default Avatar">
            {% endif %}
            <h3>{{user.email}}</h3>
            <h3>{{user.profile.bio}}</h3>
            <form type="submit" id="edit-profile" action="edit/">
                <input type="submit" value="Edit Profile"/>
            </form>
        </div>
    </div>
    <div class="logout-container">
        <form action="{% url 'user-logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
          </form>
    </div>
    {% endif %}
</body>
</html>